In [10]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\anaconda3\lib\site-packages (0.3.11)
Requirement already satisfied: packaging in c:\anaconda3\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in c:\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kagglehub) (2.32.2)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install kaggle

Requirement already satisfied: kaggle in c:\anaconda3\lib\site-packages (1.7.4.2)
Requirement already satisfied: bleach in c:\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: charset-normalizer in c:\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\anaconda3\lib\site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in c:\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: setuptools>=21.0.0 in c:\anaconda3\lib\site-packages (from kaggle) (69.5.1)
Requirement already satisfied: six>=1.10 in c:\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: urllib3>=1.15.1 in c:\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: webencodings in c:\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [12]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Set your Kaggle API key path (only if not in default location)
# os.environ['KAGGLE_CONFIG_DIR'] = "D:/Coding/Kaggle"  # where kaggle.json is placed

# Set download location
download_dir = "D:/Coding/Repo/E-Commerce-Purchases-Data-Cleaning-Time-Series-Analysis"
os.makedirs(download_dir, exist_ok=True)

# Authenticate and download
api = KaggleApi()
api.authenticate()
api.dataset_download_files('utkarsharya/ecommerce-purchases', path=download_dir, unzip=True)

print(f"‚úÖ Dataset downloaded to: {download_dir}")

Dataset URL: https://www.kaggle.com/datasets/utkarsharya/ecommerce-purchases
‚úÖ Dataset downloaded to: D:/Coding/Repo/E-Commerce-Purchases-Data-Cleaning-Time-Series-Analysis

In [19]:
import pandas as pd 
import numpy as np

In [22]:
file_path = os.path.join(download_dir, "Ecommerce Purchases")
df = pd.read_csv(file_path)

In [23]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [24]:
df.shape

(10000, 14)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [26]:
df.duplicated().sum()

0

## Missing Values Handling

In [28]:
#  check for missing values.
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [29]:
#Count how many rows have at least one missing value.

df.isnull().any(axis=1).sum()

0

In [32]:
# Drop all rows with any missing values.
df_dropna_rows=df.dropna(how='any',axis=0)
df_dropna_rows.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
8897,USNS Owens\nFPO AP 05885,06 Dg,PM,Opera/9.75.(X11; Linux i686; sl-SI) Presto/2.9...,Hunter-Ortiz,30412073069487,05/17,978,Maestro,suttonkara@frazier-hunter.net,Art therapist,88.64.23.63,zh,78.19
6828,"31464 Christine Prairie\nNew Jose, ME 66809-7730",05 Da,PM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Morales PLC,4658625821370070,09/23,507,VISA 13 digit,catherinelewis@dawson.com,Contracting civil engineer,101.195.21.158,de,49.04
3961,"12029 Christopher Plaza Apt. 694\nGrantshire, ...",20 aO,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5361 (KHT...,"Hernandez, Wilson and Martinez",503867523717,02/24,933,Discover,jsherman@hotmail.com,IT trainer,110.196.57.157,fr,26.50

In [34]:
# Drop columns with all missing values.
df_dropna_col=df.dropna(how='all',axis=1)
df_dropna_col.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9718,"0075 Joel Glens Suite 460\nJasonside, WY 49212...",49 py,AM,Mozilla/5.0 (Windows; U; Windows NT 5.1) Apple...,Perez PLC,4102348201358464,04/18,145,VISA 16 digit,davisheather@nelson.com,"Sound technician, broadcasting/film/video",156.249.156.96,el,82.05
8209,"92555 Kevin Ridge Suite 125\nPort Randall, SC ...",56 ZC,PM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,Hickman-Baker,4207576311198966,04/26,819,VISA 13 digit,brownpaul@baird.com,Plant breeder/geneticist,63.93.89.227,ru,9.57
7384,"63815 Butler Summit Apt. 093\nLake Nicholas, M...",67 KP,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Arnold, Carter and Fuller",3158093432900495,12/25,33,JCB 16 digit,mayerelizabeth@hernandez.info,"Investment banker, corporate",148.0.3.234,pt,89.34

In [ ]:
# Fill missing numeric values with the median.
df_fillnum_median = df.copy()
numeric_cols = df_fillnum_median.select_dtypes(include='number').columns
df_fillnum_median[numeric_cols] = df_fillnum_median[numeric_cols].fillna(df_fillnum_median[numeric_cols].median())

In [ ]:
# Fill missing string values with the mode.
df_fillstr_mode = df.copy()
string_cols = df_fillstr_mode.select_dtypes(include='object').columns
for col in string_cols:
    mode_val = df_fillstr_mode[col].mode()[0]
    df_fillstr_mode[col].fillna(mode_val, inplace=True)

In [ ]:
# Forward fill missing values.

In [ ]:









Backward fill missing values.

Interpolate missing numeric values.

Identify columns with the highest % of missing data.

‚è≥ Time Series Handling
Convert Purchase Time to pandas datetime.

Extract the hour of purchase.

Extract the day of the week from the timestamp.

Find how many purchases were made in the evening (after 6PM).

Find purchases made on weekends.

Create a new column Purchase Month.

Find the earliest and latest purchase dates.

Calculate time difference between the first and last purchase.

Group purchases by day.

Resample the purchases by month and count.

üî§ String Operations
Get unique email domains (like gmail.com).

Find how many users have ‚Äú.edu‚Äù emails.

Filter rows where Job Title contains ‚Äúengineer‚Äù.

Create a new column: IsSenior ‚Üí True if job title contains ‚ÄúSenior‚Äù.

Extract the username part of the email (before '@').

Count how many users use Yahoo as email provider.

Convert all job titles to lowercase.

Replace spaces in job titles with underscores.

Check if all emails are valid (contain '@').

Create a column EmailDomainLength.

üî¢ Data Type Conversion
View data types of all columns.

Convert CC Security Code to string.

Convert numeric columns to float.

Convert boolean columns (if any) to int.

Change CC Exp Date column to datetime (MM/YY format).

Split CC Exp Date into Exp_Month and Exp_Year.

Create column CardType ‚Üí 'Visa', 'MasterCard', etc. from first digit.

Check memory usage before and after optimization.

Use .astype() to convert job to category.

Check for any duplicated rows.